<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>34DA26FA1C2C6384003C2D6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34DA270E1C2C6384003C2D6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34DA27191C2C6384003C2D6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
